<div class="avatar1">
  <%= image_tag("trainers/girls/Ace.png", class: 'trainer-avatar', id: 'trainer1') %>
</div>
<div class="avatar2">
  <%= image_tag("trainers/boys/Nate.png", class: 'trainer-avatar', id: 'trainer2') %>     
</div>
<script>var p1_avatar = "<%= User.avatars[@battle.player1.avatar] %>";
  var p2_avatar = "<%= User.avatars[@battle.player2.avatar] %>";
  $('#trainer1').attr('src', p1_avatar);
  $('#trainer2').attr('src', p2_avatar);
</script>