<h1>Leaderboard</h1>
<table class="leadertable">
  <tr>
    <th class='leadertable'><h3>Name</h3></th>
    <th class='leadertable'><h3>Games Played</h3></th>
    <th class='leadertable'><h3>Games Won</h3></th>
    <th class='leadertable'><h3>Points</h3></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td class='leadertable'><h4><span><%= user.name %></h4></span></td>
    <td class='leadertable'><h4><span class="lb-number"><%= user.played %></h4></span></td>
    <td class='leadertable'><h4><span class="lb-number"><%= user.won %></h4></span></td>
    <td class='leadertable'><h4><span class="lb-number"><%= user.points %></h4></span></td>
  </tr>
  <% end %>
</table>