<h2>FIGHT</h2>

<div id='menu'>
  Battle text here
</div>

<%= form_tag battles_path, method: :get, id: :updater, remote: true do %>
<%= submit_tag "update", :name => nil, :id => "update" %>
<% end %>