
<div id="bg">
  <%= image_tag("backgrounds/stadium1.png") %>
</div>

<div class="user-info" id="moves_select">
  <% if current_user.id == @battle.winner_id %>
  <h3>Congratulations!</h3>
  <% else %>
  <h3>Unlucky!</h3>
  <% end %>
  <h2 id='winner-name'><%= User.find(@battle.winner_id).name %> WINS!! </h2>
</div>

<%= render partial: 'layouts/menu' %>