
<div id="bg">
  <%= image_tag("backgrounds/stadium1.png") %>
</div>

<div class="user-info" style="width:800px; height:auto; text-align:center; padding-bottom:15px;">
  <h2 style="color:red; font-family:PokemonC; font-size: 48px; letter-spacing: 4px; text-shadow:2px 2px black;"><%= User.find(@battle.winner_id).name %> WINS!! </h2>
</div>

<div class="full">
  <div class="videoWrapper" id="wrapper">
    <%= video_tag(["/videos/charizard.mp4"], height: '480', width: '854', id: 'vid1', :controls => false, :autoplay => true) %>
  </div>
</div>

<%= render partial: 'layouts/menu' %>


<script type="text/javascript">
  
  $('video').on('ended',function(){ 
    $(this).hide();
     $('#wrapper').hide();
  });

  
</script>