
<div id="bg">
  <%= image_tag("backgrounds/stadium1.png") %>
</div>

<div class="user-info" id="moves_select">
  <h2 id='winner-name'><%= User.find(@battle.winner_id).name %> WINS!! </h2>
</div>

<div class="full">
  <div class="videoWrapper" id="wrapper">
    <%= video_tag(["/videos/charizard.mp4"], height: '480', width: '854', id: 'vid1', :controls => false, :autoplay => true) %>
  </div>
</div>

<%= render partial: 'layouts/menu' %>


<script type="text/javascript">
  
  $('video').on('ended',function(){ 
    $(this).hide();
     $('#wrapper').hide();
  });

  
</script>