/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
  text-align: center;
  font-family: 'PokemonA.ttf';
  color: rgba(255, 255, 255, 1);
  font-size: 5em;
  margin: 5px;
 }

 h2 {
  text-align: center;
  font-family: 'PokemonB.ttf';
  color: rgba(255, 255, 255, 1);
  font-size: 4em;
  margin: 5px;
 }

 h3 {
  font-family: 'PokemonC.ttf';
  color: rgba(255, 255, 255, 1);
  font-size: 3em;
  margin: 10px;
 }

 h4 {
  font-family: 'PokemonD.ttf';
  color: rgba(255, 255, 255, 1);
  font-size: 2em;
 }

 body {
  background-image: url("tropy-wallpaper.jpg");
  background-size: cover;
 }

 .leaderboard h4 {
   margin: 10px;
 }

 .lb-number {
   font-family: "PokemonA.ttf";
   font-size: 1.5em;
 }

 .leadertable {
   margin-right: auto;
   margin-left: auto;
 }


 .alert {
   margin-top: 100px;
   text-align: center;
 }