body {
	background-color: white;
}



@font-face { 
	font-family: pokemonA; src: url('PokemonA.ttf'); 
} 
@font-face { 
	font-family: pokemonB; src: url('PokemonB.ttf'); 
} 
@font-face { 
	font-family: pokemonC; src: url('PokemonC.ttf'); 
} 
@font-face { 
	font-family: pokemonD; src: url('PokemonD.ttf'); 
} 




.main-container {
/*background-color: grey;*/
position: relative;
background-image: url("backgrounds/stadium1.png");
width: 1200px;
height: 600px;
margin: auto;
	/*margin-left: auto;
	margin-right: auto;*/
}

.trainer-avatar {
width: auto;
height: 185px;
}

.big-monster-left1 {
top: 70px;
left: 37px;
}

.big-monster-left2 {
top: 200px;
left: 37px;
}
.big-monster-left3 {
top: 330px;
left: 37px;
}
.big-monster-left4 {
top: 460px;
left: 37px;
}

.big-monster-right1 {
top: 70px;
right: 37px;
}

.big-monster-right2 {
top: 200px;
right: 37px;
}
.big-monster-right3 {
top: 330px;
right: 37px;
}
.big-monster-right4 {
top: 460px;
right: 37px;
}

.big-monster {
position: absolute;
    width: 100px;
    height: auto;
    bottom: 343px;
    display: inline-block;
    z-index:10;
}

.anim-monster {
position: absolute;

}

.anim-monster-left1 {
	left: 419px;
        bottom: 264px;
	z-index:1;
}

.anim-monster-left2 {
    left: 276px;
        bottom: 250px;
    z-index:1;
}

.anim-monster-left3 {
    left: 246px;
    bottom: 212px;
    z-index:1;
}

.anim-monster-left4 {
     left: 372px;
    bottom: 229px;
    z-index:1;
}

.anim-monster-right1 {
    right: 447px;
        bottom: 265px;
    z-index:1;
}

.anim-monster-right2 {
    right: 276px;
        bottom: 250px;
    z-index:1;
}

.anim-monster-right3 {
    right: 246px;
    bottom: 212px;
    z-index:1;
}

.anim-monster-right4 {
     right: 372px;
    bottom: 229px;
    z-index:1;
}






.big-monster img {
	width: 100%;
	height: auto;
}

.attack {
	position: absolute;
	left:475px;
	bottom:166px;
}



.sphere-left {
	position: absolute;
    width: 100px;
    height: 100px;
    
    opacity: 0.9;
    z-index: 9;
    display:block;
}

.sphere-left img {
	width:100px;
	height: 100px;
	
}
.sphere-left1 {
    top: 70px;
    left: 37px;
}
.sphere-left2 {
    top: 200px;
    left: 37px;
}
.sphere-left3 {
    top: 330px;
    left: 37px;
}
.sphere-left4 {
    top: 460px;
    left: 37px;
}

.sphere-right img {
	width:100px;
	height: 100px;
}

.sphere-right {
	position: absolute;
    width: 100px;
    height: 100px;
    
    opacity: 0.9;
    z-index: 9;
    display:block;
}
.sphere-right1 {
    right: 37px;
    top: 70px;
}


.sphere-right2 {
    right: 37px;
    top: 200px;
   
}


.sphere-right3 {
    right: 37px;
    top: 330px;
    
}


.sphere-right4 {
    right: 37px;
    top: 460px;
    
}

.notice {
        width: 274px;
      height: 144px;
      background-color: black;
      position: absolute;
      top: 200px;
      left: 472px;
      display:none;
      text-align: center;
      float: left;
      z-index: 1;
}

p.notice {
    color: red;
    font-size: 3em;
}

.screen {
    z-index: 0;
	    width: 274px;
    height: 144px;
    background-color: black;
    position: absolute;
    top: 59px;
    left: 464px;
    display:inline;
    text-align: center;
    /*padding: 10px;*/
}

.p2-damage {
	    position: absolute;
    left: 626px;
    bottom: 247px;
}

.p1-damage {
	    position: absolute;
    left: 525px;
    bottom: 226px;
    z-index: 0;
}
.player1health1 {
	
	position: absolute;
    width: 202px;
    height: 10px;
    top: 100px;
    left: 145px;
    z-index: 2;
}
.player1health2 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 230px;
    left: 145px;
    z-index: 2;
}
.player1health3 {
	
	position: absolute;
    width: 202px;
    height: 10px;
    top: 360px;
    left: 145px;
    z-index: 2;
}
.player1health4 {
    
   position: absolute;
   width: 202px;
   height: 10px;
   top: 490px;
   left: 145px;
   z-index: 2;
}

.player2health1 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 100px;
    right: 104px;
    z-index: 2;
}
.player2health2 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 230px;
    right: 104px;
    z-index: 2;
}
.player2health3 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 360px;
    right: 104px;
    z-index: 2;
}
.player2health4 {
    
   position: absolute;
   width: 202px;
   height: 10px;
   top: 490px;
   right: 104px;
   z-index: 2;
}


.health1 {
	position: absolute;
    left: 31px;
    width: 300px;
    height: auto;
    top: 11px;

}

.health2 {
	position: absolute;
    right: 33px;
    width: 300px;
    height: auto;
    top: 11px;
     text-align: right;
	
}
.start-button {
	position:absolute;
	bottom: 50px;
	margin-left:auto;
	margin-right: auto;
	z-index: 3;
}

.menu {
	position: absolute;
        background-color: white;
        width: 550px;
        height: 150px;
        bottom: 20px;
        left: 325px;
        opacity: 0.8;
        text-align: center;


}

ul {
    list-style-type: none;
}

.avatar1 {
	position:absolute;
	left: 340px;
    bottom: 380px;

}
.avatar2 {
	position:absolute;
	right: 340px;
    bottom: 380px;
}

h1, h2, h3, h4 {
	font-family: PokemonA;
}

h4 {
    display: inline;
    font-size: 14px;
    color: white;
    font-family: PokemonC;
    letter-spacing: 4px;
    text-shadow: 2px 2px black;
}



.player1-name {
    color: white;
	position: absolute;
	top: -5px;
    left: 31px;
    text-shadow: 2px 2px black;


}

.player2-name {
    color: white;
	position: absolute;
	top: -5px;
    right: 31px;
    text-shadow: 2px 2px black;


}

.player1-icon {
	position: absolute;
	top:5px;
	left: 300px;
}

p {
	font-family: PokemonC;
	font-size: 12pt;
}

.videoWrapper {
	position: absolute;
    width: 854px;
    height: 480px;
    top: 55px;
    left: 174px;
    background-color: none;
    opacity: 1;
    z-index: 12;
    display: none;
}

.monster1-info {
    position:absolute;
    left: 147px;
    top: 117px;
    display: inline;
    z-index:11;
}

.monster2-info {
    position:absolute;
    left: 147px;
    top: 247px;
    display: inline;
    z-index:11;

}

.monster3-info {
    position:absolute;
    left: 147px;
    top: 377px;
    display: inline;
    z-index:11;

}
.monster4-info {
    position:absolute;
    left: 147px;
    top: 507px;
    display: inline;
    z-index:11;

}

.monster5-info {
    position:absolute;
    right: 147px;
    top: 117px;
    display: inline;
    z-index:11;
}

.monster6-info {
    position:absolute;
    right: 147px;
    top: 247px;
    display: inline;
    z-index:11;

}

.monster7-info {
    position:absolute;
    right: 147px;
    top: 377px;
    display: inline;
    z-index:11;

}
.monster8-info {
    position:absolute;
    right: 147px;
    top: 507px;
    display: inline;
    z-index:11;

}

.controller {
    position: absolute;
    bottom: 20px;
    left: 350px;
}

.signup {
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    z-index: 15;
    top: 50px;
    text-shadow: 2px 2px white;

}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.user-info {
    position: relative;
    width: 600px;
    background-color: white;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    border-radius: 25px;
}
