body {
	background-color: white;
}



@font-face { 
	font-family: pokemonA; src: url('PokemonA.ttf'); 
} 
@font-face { 
	font-family: pokemonB; src: url('fonts/PokemonB.ttf'); 
} 
@font-face { 
	font-family: pokemonC; src: url('fonts/PokemonC.ttf'); 
} 
@font-face { 
	font-family: pokemonD; src: url('fonts/PokemonD.ttf'); 
} 




.main-container {
/*background-color: grey;*/
position: relative;
background-image: url("backgrounds/stadium1.png");
width: 1200px;
height: 600px;
margin: auto;
	/*margin-left: auto;
	margin-right: auto;*/
}

.trainer-avatar {
width: auto;
height: 185px;
}

.big-monster-left1 {
top: 70px;
left: 37px;
}

.big-monster-left2 {
top: 200px;
left: 37px;
}
.big-monster-left3 {
top: 330px;
left: 37px;
}
.big-monster-left4 {
top: 460px;
left: 37px;
}

.big-monster-right {

right: 37px;

}

.big-monster {
position: absolute;
    width: 100px;
    height: auto;
    bottom: 343px;
    display: inline-block;
    z-index:10;
}

.anim-monster {
position: absolute;

}

.anim-monster-left {
	 left: 438px;
    bottom: 235px;
	z-index:1;
}

.anim-monster-right {
	right: 490px;
    bottom: 257px;
}



.big-monster img {
	width: 100%;
	height: auto;
}

.attack {
	position: absolute;
	left:475px;
	bottom:166px;
}



.sphere-left {
	position: absolute;
    width: 100px;
    height: 100px;
    
    opacity: 0.9;
    z-index: 9;
    display:block;
}

.sphere-left img {
	width:100px;
	height: 100px;
	
}
.sphere-left1 {
    top: 70px;
    left: 37px;
}
.sphere-left2 {
    top: 200px;
    left: 37px;
}
.sphere-left3 {
    top: 330px;
    left: 37px;
}
.sphere-left4 {
    top: 460px;
    left: 37px;
}

.sphere-right img {
	width:200px;
	height: 200px;
}

.sphere-right {
	position: absolute;
    width: 200px;
    height: 200px;
    top: 70px;
    right: 37px;
    opacity: 0.9;
    z-index: 9;
    display:block;
}
.sphere-right1 {
    top: 70px;
    right: 37px;
}

}
.sphere-right2 {
    top: 200px;
    right: 37px;
}

}
.sphere-right3 {
    top: 330px;
    right: 37px;
}

}
.sphere-right4 {
    top: 460px;
    right: 37px;
}

.screen {
	    width: 274px;
    height: 144px;
    background-color: black;
    position: absolute;
    top: 59px;
    left: 464px;
    display:inline;
}

.p2-damage {
	    position: absolute;
    left: 626px;
    bottom: 247px;
}

.p1-damage {
	    position: absolute;
    left: 525px;
    bottom: 226px;
    z-index: 0;
}
.player1health1 {
	
	position: absolute;
    width: 202px;
    height: 10px;
    top: 100px;
    left: 145px;
    z-index: 2;
}
.player1health2 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 230px;
    left: 145px;
    z-index: 2;
}
.player1health3 {
	
	position: absolute;
    width: 202px;
    height: 10px;
    top: 360px;
    left: 145px;
    z-index: 2;
}
.player1health4 {
    
   position: absolute;
   width: 202px;
   height: 10px;
   top: 490px;
   left: 145px;
   z-index: 2;
}

.player2health1 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 100px;
    right: 145px;
    z-index: 2;
}
.player2health2 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 230px;
    right: 145px;
    z-index: 2;
}
.player2health3 {
    
    position: absolute;
    width: 202px;
    height: 10px;
    top: 360px;
    right: 145px;
    z-index: 2;
}
.player2health4 {
    
   position: absolute;
   width: 202px;
   height: 10px;
   top: 490px;
   right: 145px;
   z-index: 2;
}


.health1 {
	position: absolute;
    left: 31px;
    width: 300px;
    height: auto;
    top: 11px;

}

.health2 {
	position: absolute;
    right: 33px;
    width: 300px;
    height: auto;
    top: 11px;
     text-align: right;
	
}
.start-button {
	position:absolute;
	bottom: 50px;
	margin-left:auto;
	margin-right: auto;
	z-index: 3;
}

.menu {
	position: absolute;
        background-color: white;
        width: 550px;
        height: 150px;
        bottom: 20px;
        left: 325px;
        opacity: 0.8;
        text-align: center;


}

ul {
    list-style-type: none;
}

.avatar1 {
	position:absolute;
	left: 340px;
    bottom: 380px;

}
.avatar2 {
	position:absolute;
	right: 340px;
    bottom: 380px;
}

h1, h2, h3, h4 {
	font-family: PokemonA;
}

.player1-name {
	position: absolute;
	top: -15px;
    left: 31px;

}

.player2-name {

	position: absolute;
	top: -15px;
    right: 31px;

}

.player1-icon {
	position: absolute;
	top:5px;
	left: 300px;
}

p {
	font-family: PokemonC;
	font-size: 12pt;
}

.videoWrapper {
	position: absolute;
    width: 854px;
    height: 480px;
    top: 55px;
    left: 174px;
    background-color: none;
    opacity: 0;
    z-index: 8;
    display: none;
}